{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}

<div class="switch_buttons">




<div class="livre_wrapper">
<a href="#" class="previous round"><span>&#8249;&#8249;</span></a>


{% for livre in livres %}
    <div class="livre">
      <h3> {{livre.titre}} </h3>
      <img class="img" src="{{ asset('img/book.png')}} ">
      <div>
        <p> {{livre.description}} </p>
        <div class="livre_ajout">
          <p> {{livre.prix}} &euro;</p>
          <form action='{{ path('app_panier_ajout') }}' method='POST'>
            <input type="hidden" name="idLivre" value="{{livre.id}}">
            <input class="add-to-cart" type="submit" value="Ajouter au panier">
          </form>
        </div>
      </div>
    </div>
  {% endfor %}

<a href="#" class="next round"><span>&#8250;&#8250;</span></a>


</div>

</div>


<style>
        .livre_wrapper {
    background: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url('../img/indexbkg.png') repeat 0 0;
    
        }
</style>


  




{% endblock %}

