<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Librarie{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/cdb9f7c48a.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/livre.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/panier.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/auth.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/account.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('css/testindex.css') }}" /> 

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}


        {% endblock %}
    </head>
    <body>
        {% include('components/header.html.twig') %}
        {% block body %}{% endblock %}
        {% include('components/footer.html.twig') %}
    </body>
</html>
