<header class="header">
    <div>
        <a href="{{ path('index') }}"><img class="header_logo" src="{{ asset('img/wepik-logo.png') }}" alt="librarie logo"></a>
    </div>
    <nav class="nav">
        <ul class="nav_list">
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('index') }}">Livres</a></li>
            <li><a href="app_panier"><i class="fa-solid fa-cart-shopping"></i></a></li>
            {% if app.user %}
            <li class="login_btn logged_drop"><a href="{{ path('app_account') }}">{{app.user.nom}}</a></li>
            {% else %}
            <li class="login_btn"><a href="{{ path('app_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>