{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="account_block">
        <h1>Your Account</h1>
        <div>
            <p>{{app.user.nom}}</p>
            <p>{{app.user.prenom}}</p>
            <p>{{app.user.email}}</p>
        </div>
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('app_dashboard')}}"><button class="account_btn primary_font" >Dashboard</button></a>
        {% endif %}
        <a href="{{ path('app_logout')}}"><button  class="account_btn primary_font">Logout</button></a>
    </div>
{% endblock %}
