{% extends 'base.html.twig' %}

{% block title %}Sign-up{% endblock %}

{% block body %}

<div class="form_container">
    <h1>Inscrivez-vouz</h1>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="form_block">
            {{form_widget(form.nom)}} 
            {{form_errors(form.nom)}} 
        </div>
        <div class="form_block">
            {{form_widget(form.prenom)}} 
            {{form_errors(form.prenom)}} 
        </div>
        <div class="form_block">
            {{form_widget(form.tel)}} 
            {{form_errors(form.tel)}} 
        </div>
        <div class="form_block">
            {{form_widget(form.email)}} 
            {{form_errors(form.email)}} 
        </div>
        <div class="form_block">
            {{form_widget(form.password)}} 
            {{form_errors(form.password)}} 
        </div>
        {{form_widget(form.submit)}} 
    {{ form_end(form) }}
    <p>Vous avez deja un compte ? <a class="link_sourline" href="{{ path('app_login')}}">Connectez-vouz</a></p>
</div>
{% endblock %}
